		
			<div class="footer">
				<a href="ContactUs.html" class="container1">Contact us</a>
	 	        <a href="AboutUs.html" class="container1">About us</a>
	    	    <a href="FAQs.html" class="container1">FAQs</a>
			</div>
	
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    	<script type="text/javascript" src="css/extra.js"></script>
    	
	</body>
	</head>
</html>